AndroidApplication1/Web References/CylifeReference/AppServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.6.123/CylifeAppservice/AppServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.6.123/CylifeAppservice/AppServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAppServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAppServices_getAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IAppServices_getAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppServices">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppServices/Login" message="tns:IAppServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppServices/LoginResponse" message="tns:IAppServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppServices/getAccountInfo" message="tns:IAppServices_getAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppServices/getAccountInfoResponse" message="tns:IAppServices_getAccountInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppServices" type="tns:IAppServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAppServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IAppServices/getAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppServices">
    <wsdl:port name="BasicHttpBinding_IAppServices" binding="tns:BasicHttpBinding_IAppServices">
      <soap:address location="http://172.16.6.123/CylifeAppservice/AppServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>