AndroidApplication1/Web References/PersonnelReference/PersonnelServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonnelServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.6.123/CylifeAppservice/PersonnelServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.6.123/CylifeAppservice/PersonnelServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonnelServices_ServerName_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerName" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_ServerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_getDineList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDineList" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_getDineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDineListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchDine_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDine" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchDine_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDineResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchOfficialDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOfficialDocuments" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchOfficialDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOfficialDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchOfficialDocumentAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOfficialDocumentAll" />
  </wsdl:message>
  <wsdl:message name="IPersonnelServices_SearchOfficialDocumentAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOfficialDocumentAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonnelServices">
    <wsdl:operation name="ServerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelServices/ServerName" message="tns:IPersonnelServices_ServerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelServices/ServerNameResponse" message="tns:IPersonnelServices_ServerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDineList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelServices/getDineList" message="tns:IPersonnelServices_getDineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelServices/getDineListResponse" message="tns:IPersonnelServices_getDineList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDine">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelServices/SearchDine" message="tns:IPersonnelServices_SearchDine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelServices/SearchDineResponse" message="tns:IPersonnelServices_SearchDine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOfficialDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelServices/SearchOfficialDocuments" message="tns:IPersonnelServices_SearchOfficialDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelServices/SearchOfficialDocumentsResponse" message="tns:IPersonnelServices_SearchOfficialDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOfficialDocumentAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonnelServices/SearchOfficialDocumentAll" message="tns:IPersonnelServices_SearchOfficialDocumentAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonnelServices/SearchOfficialDocumentAllResponse" message="tns:IPersonnelServices_SearchOfficialDocumentAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonnelServices" type="tns:IPersonnelServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServerName">
      <soap:operation soapAction="http://tempuri.org/IPersonnelServices/ServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDineList">
      <soap:operation soapAction="http://tempuri.org/IPersonnelServices/getDineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDine">
      <soap:operation soapAction="http://tempuri.org/IPersonnelServices/SearchDine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOfficialDocuments">
      <soap:operation soapAction="http://tempuri.org/IPersonnelServices/SearchOfficialDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOfficialDocumentAll">
      <soap:operation soapAction="http://tempuri.org/IPersonnelServices/SearchOfficialDocumentAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonnelServices">
    <wsdl:port name="BasicHttpBinding_IPersonnelServices" binding="tns:BasicHttpBinding_IPersonnelServices">
      <soap:address location="http://172.16.6.123/CylifeAppservice/PersonnelServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>