AndroidApplication1/Web References/PersonnelReference/PersonnelServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServerName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="YYMM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDineListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="YYYMM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchDineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOfficialDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOfficialDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchOfficialDocumentsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOfficialDocumentAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeptNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOfficialDocumentAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchOfficialDocumentAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>